// Colors
$primary-color: #FF3859;
$black-color: #252035;
$text-color: $black-color;
$link-color: #3A3E4A;
$background-color: #f2f2f2;
$white-color: #ffffff;
$hidden-color: #cccccc;

// Sizes
$title-size: 18px;
$border-radius-size: 2px;
$small-text: 12px;
$HeroImage-size: 100vh;
$paddind-size: 18px;

// Weights
$bold: 600px;

// Z-Index
$max-zindex: 1000;
$high-zindex: 750;
$medium-zindex: 500;
$low-zindex: 250;
$min-zindex: 0;


// Others
$box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);

body {
    background-color: $background-color;
    color: $text-color;
}

section {
    border-radius: $border-radius-size;
    background-color: $white-color;
}

footer {
    text-align: center;
    font-size: $small-text;
}

.NavigationMenu {
    background-color: $white-color;
    width: 100%;
    font-weight: $bold;
    box-shadow: $box-shadow;
}

.NavigationMenu--top {
    top: 0;
    position: fixed;
    height: 56px;
    z-index: $high-zindex;
    font-size: $title-size;
}

.NavigationMenu > ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.NavigationMenu > .NavigationMenu-links > li {
    float: left;
}

.NavigationMenu > .NavigationMenu-links > li > a {
    color: #4a403a;
    text-align: center;
    display: block;
    text-align: center;
    padding: $paddind-size;
    text-decoration: none;
}

.NavigationMenu--top > .NavigationMenu-links > li > a:hover {
    background-color: $primary-color;
}

.HeroImage {
    background-image: url("../img/hero.jpg");
    height: $HeroImage-size;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .HeroImage-description {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white-color;
        background-color: $text-color;
        padding: $paddind-size;
    }

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.License {
    background-color: $background-color;
    color: $hidden-color;
}

.Testimony--hiden {
    display: none;
}