// Colors
$primaryColor: #FF3859;
$blackColor: #252035;
$textColor: $blackColor;
$linkColor: #3A3E4A;
$backgroundColor: #f2f2f2;
$whiteColor: #ffffff;
$hiddenColor: #cccccc;

// Sizes
$titleSize: 18px;
$borderRadiusSize: 8px;
$smallText: 12px;
$HeroImage-size: 100vh;
$paddindSize: 18px;

// Weights
$bold: 600px;

// Z-Index
$maxZindex: 1000;
$highZindex: 750;
$mediumZindex: 500;
$lowZindex: 250;
$minZindex: 0;


    // Others
$boxShadow: 0 1px 2px 0 rgba(0,0,0,.24);
